body{
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;



}
.logo .imgehigh {
    width: 60px;
}
.logo img{
    width: 350px;
}
.btn {
    cursor: default;
    width: 100%;
    /* border: 1px solid green; */
}
.btn button{
    width: 150px;
    align-content: center;
}